.button {
  background-color: $blue;
  border: none;
  border-radius: 2px;
  color: white;
  display: inline-block; //to make sure vertical margin and padding take affect
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1; //no need for extra line height
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background-color: #888888;
}